<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IntervaloDeEjecucion_Mins" value="1" />
    <add key="API_Username" value="Serca" />
    <add key="API_Password" value="12345678" />
    <add key="API_Host" value="http://209.13.97.251/" />
    <add key="API_Endpoint_GetToken" value="GeoAPI/GetToken" />
    <add key="API_Endpoint_GetPendingNotifications" value="GeoAPI/api/Notifications/GetPending" />
    <add key="API_Endpoint_GetService" value="GeoAPI/api/Services/GetById/" />
    <add key="API_Endpoint_AcknowledgeNotification" value="GeoAPI/api/Notifications/Acknowledge" />
    <add key="API_Endpoint_GetOngoing" value="GeoAPI/api/Services/GetOngoing" />
    <add key="ServicioMap_pCliCod" value="PAMI" />
    <add key="ServicioMap_pNroAut" value="7831" />
    <!--Namespace|Port|Server|Aplicacion|Centro|User|Password|UserID-->
    <add key="ConnectionStringCache_Values" value="DESA|1972|200.49.156.125|EMERGENCIAS|1|JOB|rLOGNFRSWhU3c2LP9Gybug==|IDoMLneOe6l783zrc/Thyw==" />
    <add key="ConnectionStringSQL_Values" value="SHADOW01\SQLEXPRESS|Shaman|sa|yeike" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
